body {
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    color: @black;
    font-family: 'andale mono', 'courier new', courier, sans-serif;
    font-size: @basefont;
    line-height: 1.4;
    background: #fff url(../img/bg/body.png) 0 0 repeat;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;   
    color: @grayDark;
}

h1 {
    font-size: 66px;
    font-family: 'myriad pro';
    text-shadow: 0 1px white;
    color: #555;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px white;
    text-align: center;
}

a {

    .transition(@linkColor, 0.25s, @easeOutQuart);

    &:link,
    &:visited {
        color: @linkColor;
    }

    &:hover,
    &:active {
        color: @linkColorHover;
    }

}

#page {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    .box-shadow(0 -3px 30px rgba(0, 0, 0, 0.8));
}

#container {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

#panel {
    color: @grayLight;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 300px;
    .box-sizing(border-box);
}

#main-content {
    background: #fff url(../img/bg/content.png) 0 0 repeat;
    min-height: 100%;
    position: relative;
    left: 40px;
    top: 0;
    bottom: 0;
    width: 100%;
    .box-shadow(-3px 0 5px rgba(0, 0, 0, 0.8));
    .box-sizing(border-box);

    .content {
        margin: 0 auto;
        padding: 20px 50px;
    }

    .type {
        background: #fff;
        margin: 20px 0;
        .box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));

        li {
            float: left;
            border-left: 1px solid @grayLighter;

            &:first-child {
                border-left: none;
            }

            a {
                background-color: @white;
                display: block;
                padding: 10px;
                position: relative;
                text-decoration: none;
                .transition(all 0.5s ease);
                
                &:hover {
                    background-color: darken(@white, 3);
                }

            }

            &.active {
                
                a {
                    
                    &:hover {
                        background-color: @white;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -3px;
                        height: 6px;
                        width: 6px;
                        margin-left: -3px;
                        background: #fff;
                        .transform(rotateZ(45deg));
                        .box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));

                    }
                }
                
            }

        }

    }

}

#posts {
    list-style: none;
    margin: 0;
    padding: 0;

    .post {
        background: #fff;
        padding: 20px;
        .box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    }
}

.media {
    position: relative;

    img {
        max-width: 100%;
    } 
}

.short-cuts {
    position: absolute;
    right: 0;
    top: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background: rgba(0, 0, 0, 0.75);
            margin-left: 1px;
            margin-bottom: 1px;
            a {
                display: block;
                text-decoration: none;
                height: 50px;
                width: 50px; 
            }

        }
    }
}